node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
README.md
.env
.nyc_output
coverage
.coverage
.coverage.*
.cache
test
.eslintrc.js
.eslintrc.json
.eslint*
jest.config.js
.prettierrc
.prettierrc.json
.prettierrc.yaml
.prettierignore
.vscode
.idea
*.swp
*.swo
*~